<section>
  <div class="page-header">
    <h1>{{vm.enterprise._id ? 'Edit Enterprise' : 'New Enterprise'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.enterpriseForm" class="form-horizontal" ng-submit="vm.save(vm.enterpriseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.enterprise.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.enterpriseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enterprise name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.enterprise._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- </section> -->




  <!-- <section class="row"> -->
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.enterpriseForm" class="form-horizontal" ng-submit="vm.save(vm.enterpriseForm.$valid)" novalidate>
      <fieldset>

        <div >
        <div class="form-group" show-errors>
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.enterprise.companyName" placeholder="Company Name" required autofocus>
          <div ng-messages="vm.enterpriseForm.companyName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="companyAddress">Company Address</label>
          <input type="text" id="companyAddress" name="companyAddress" class="form-control" ng-model="vm.enterprise.companyAddress" placeholder="Company Address" required>
          <div ng-messages="vm.enterpriseForm.companyAddress.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company Address is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="state">State / Province</label>
          <input type="text" id="state" name="state" class="form-control" ng-model="vm.enterprise.state" placeholder="State / Province" required>
          <div ng-messages="vm.enterpriseForm.state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">State / Province is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="zipCode">Zip Code / Mail Code</label>
          <input type="text" id="zipCode" name="zipCode" class="form-control" ng-model="vm.enterprise.zipCode" placeholder="Zip Code" required>
          <div ng-messages="vm.enterpriseForm.zipCode.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Zip Code is required.</p>
            <p class="help-block error-text" ng-message="zipCode">Zip Code is invalid.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="country">Country</label>
          <select id="country" name="country" class="form-control" ng-model="vm.enterprise.country" ng-options="x as x.name for x in vm.countries" required>
          </select>
          <div ng-messages="vm.enterpriseForm.country.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.enterprise.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="phone">Phone</label>
          <input type="phone" id="phone" name="phone" class="form-control" ng-model="vm.enterprise.phone" placeholder="Phone" required>
          <div ng-messages="vm.userForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone address is required.</p>
            <p class="help-block error-text" ng-message="phone">Phone address is invalid.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="website">Website</label>
          <input type="url" id="website" name="website" class="form-control" ng-model="vm.enterprise.website" placeholder="Website" required>
        </div>

        <div class="form-group" show-errors>
          <label for="description">Business Description</label>
          <input type="text" id="description" name="description" class="form-control" ng-model="vm.enterprise.description" placeholder="Description" required>
        </div>




        <div class="form-group" show-errors>
          <label for="classifications">Industry Classifications</label>
          <select id="classifications" name="classifications" class="form-control" ng-model="vm.enterprise.classifications" ng-options="x for x in vm.classifications" required>
          </select>
        </div>

        <div class="form-group" show-errors>
          <label for="countryOfBusiness">Primary Country Of Business</label>
          <select id="countryOfBusiness" name="countryOfBusiness" class="form-control" ng-model="vm.enterprise.countryOfBusiness" ng-options="x as x.name for x in vm.countries" required>
          </select>
          <div ng-messages="vm.enterpriseForm.countryOfBusiness.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Country Of Business is required.</p>
          </div>
        </div>


        <div class="form-group" show-errors>
          <label for="year">Year Established</label>
          <input type="number" id="year" name="year" class="form-control" ng-model="vm.enterprise.year" placeholder="Year" required>
          <div ng-messages="vm.enterpriseForm.year.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Year is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="employeeCount">Employee Count</label>
          <input type="number" id="employeeCount" name="employeeCount" class="form-control" ng-model="vm.enterprise.employeeCount" placeholder="EmployeeCount" required>
          <div ng-messages="vm.enterpriseForm.employeeCount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employee Count is required.</p>
          </div>
        </div>



        <div class="text-center form-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>

      </fieldset>
    </form>
  </div>
</section>
