<section class="row">
  <h4 class="col-sm-10"><label>Customer Company Names</label></h4>
  <label class="col-sm-2">Edit / Delete</label>
    <div class="list-group">
      <div ng-repeat="item in vm.customer">
      <a href="//{{item.URL}}" class="list-group-item col-sm-10" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
        <h5 ng-bind="item.companyName">
          <h5 ng-show="hoverEdit" class="website-prompt">Visit {{item.URL}}</h5>
        </h5>
      </a>
      <span ng-click="vm.edit($index, item)"class="col-sm-2 glyphicon glyphicon-pencil edit-icon"></span>
      </div>
    </div>
    <div class="col-md-12">
    <form name="vm.customerForm" class="form-horizontal" ng-submit="vm.saveCustomer(vm.customerForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.selectedCompany" placeholder="Company Name" required autofocus>
          <div ng-messages="vm.customerForm.companyName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="URL">Website</label>
          <input type="text" id="URL" name="URL" class="form-control" ng-model="vm.selectedURL" placeholder="URL" required>
          <div ng-messages="vm.customerForm.URL.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Website is required.</p>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success">Save</button>
          <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
        </div>
      </fieldset>
    </form>

  </div>
</section>
