<section class="row">
  <div class="col-md-12">
    <form name="vm.competitorForm" class="form-horizontal" ng-submit="vm.saveCompetitor(vm.competitorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <h3>{{vm.selectedId ? 'Edit Customer ' + vm.company:'New Customer'}}</h3>
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.selectedCompany" placeholder="Company Name" required autofocus>
          <div ng-messages="vm.competitorForm.companyName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="URL">Website</label>
          <input type="text" id="URL" name="URL" class="form-control" ng-model="vm.selectedURL" placeholder="URL" required>
          <div ng-messages="vm.competitorForm.URL.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Webiste is required.</p>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success">{{vm.selectedId ? 'Update ' + vm.company:'Save'}}</button>
          <div ng-click="vm.cancel()" class="btn btn-default">Cancel</div>
        </div>
      </fieldset>
    </form>
  </div>

  <h4 class="col-sm-10"><label>{{vm.competitor.length !== 0 ? 'Competitor Company Names' : 'There are no competitors listed'}}</label></h4>
  <label class="col-xs-1">{{vm.competitor.length !== 0 ? 'Edit' : '' }}</label>
  <label class="col-xs-1">{{vm.competitor.length !== 0 ? 'Delete' : '' }}</label>
  <div class="list-group">
    <div ng-repeat="item in vm.competitor">
      <a href="//{{item.URL}}" class="list-group-item col-sm-10" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
        <h5 ng-bind="item.companyName">
          <h5 ng-show="hoverEdit" class="website-prompt">Visit {{item.URL}}</h5>
        </h5>
      </a>
      <span ng-click="vm.edit(item)" class="col-xs-1 glyphicon glyphicon-pencil edit-icon"></span>
      <span ng-click="vm.delete(item)" class="col-xs-1 glyphicon glyphicon-trash edit-icon"></span>
    </div>
  </div>
</section>
