<section>
  <div class="col-md-12">
    <div>
      <h1>{{vm.supplier._id ? 'Edit Supplier' : 'New Supplier'}}</h1>
    </div>
    <form name="vm.supplierForm" class="form-horizontal" ng-submit="vm.save(vm.supplierForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="companyName">Company Name</label>
          <input type="text" id="companyName" name="companyName" class="form-control" ng-model="vm.supplier.companyName" placeholder="Company Name" required autofocus>
          <div ng-messages="vm.supplierForm.companyName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="website">Website</label>
          <input type="url" id="website" name="website" class="form-control" ng-model="vm.supplier.website" placeholder="Website" required>
          <div ng-messages="vm.supplierForm.website.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Webiste is required.</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
