<section id="graph">
  <make-graph></make-graph>

  <div class="toggle-side form-group col-xs-4"  ng-if="!vm.selected.companyName">
    <div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-search" ng-click="vm.con()"></i>
      <input class="form-control" type="text" ng-model="vm.search" placeholder="Search">
      <div>Searching for: {{vm.search}}</div>
    </div>
  </div>

  <div ng-if="vm.selected.companyName">
    <div ng-show="vm.sidebar" class="side-panel">
      <img ng-src="{{vm.selected.img}}" alt="Company Logo" class="side-logo header-profile-image" src="/modules/users/client/img/profile/default.png">

      <h3 ng-bind="vm.selected.companyName"></h3>

      <span>Company URL: <a href="http://{{vm.selected.URL}}">{{vm.selected.URL}}</a></span>

      <br>
      <br>
      <br>
      <br>
      <br>
      <div ng-repeat="item in vm.selected.text">
        <span class="glyphicon" ng-class="{'glyphicon-envelope': $index === 0, 'glyphicon-glass': $index === 1, 'glyphicon-home': $index === 2, 'glyphicon-signal': $index === 3 }"></span>
        {{item}}
      </div>
    </div>
    <div ng-click="vm.toggleSidebar()" class="btn-default btn toggle-side" ng-class="{'side-active': vm.sidebar}">
      <span class="glyphicon" ng-class="{'glyphicon-triangle-left': vm.sidebar, 'glyphicon-triangle-right': !vm.sidebar}"></span>
    </div>
  </div>

</section>
