<svg make-graph width="800" height="600">
      <defs id="mdef">
        <pattern id="search" x="0" y="0" height="40" width="40">
          <image x="0" y="0" width="40" height="40" xlink:href="https://cdn4.iconfinder.com/data/icons/seo-and-data/500/magnifier-data-128.png"></image>
        </pattern>
        <pattern id="beer" x="0" y="0" height="40" width="40">
          <image x="0" y="0" width="40" height="40" xlink:href="http://www.e-pint.com/epint.jpg"></image>
        </pattern>
  </defs>
</svg>
