<section>
  <div class="page-header">
    <h1>Enterprise</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="item in vm.menu.items" ng-switch="item.type" ui-sref-active="active" class="{{item.class}}">
          <!-- <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ui-sref-active="active" class="{{item.class}}"> -->
          <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
