.tasks-caption {
  display: flex;
  text-align: center;
  justify-content: center;
}

.tasks-caption > * {
  margin-right: 10px;
}

.tasks-table {
  display: table;
}

.tasks-header {
  display: table-header-group;
}

.tasks-row {
  display: table-row;
}

.tasks-cell {
  display: table-cell;
  text-align: center;
  background: inherit;
}

.filter-label {
  width: 100%;
}

.task-filter {
  float: right;
  width: 50%;
}

.progress-slider {
}

.progress-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.progress-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.progress-slider.rzslider .rz-pointer:after {
  display: none;
}
