.tasks-caption {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tasks-caption > * {
  margin-right: 10px;
}

.tasks-caption > select {
  background: transparent;
  border: none;
  font-size: 1.25em;
}

.tasks-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.clickable-looking {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.tasks-cell {
  background: inherit;
  flex: 1;
  text-align: center;
}

.tasks-description {
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 1;
}

.filter-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-label {
  font-weight: normal;
  width: 100%;
}

.task-filter {
  background: #eeeeee;
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
}

.progress-slider.rzslider .rz-pointer {
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 0;
  height: 16px;
  top: auto; /* to remove the default positioning */
  width: 8px;
}

.progress-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.progress-slider.rzslider .rz-pointer:after {
  display: none;
}

.sort-button {
  background: inherit;
  border: none;
}
