<section>
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-app="carousel"  ng-controller="carouselCtrl">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
  <div class="contentWraper testimonial">
      <table class="testimonial">
      <tr>
        <td class="widerCol"><img class="img-thumbnail" src="/modules/core/client/img/carousel/man.jpg" alt="Business man"></td>
        <td>
      <h1>Connect With Other Businesses!</h1>
      <h3>"I found better ways of connecting with potential clients and employees!"</h3>
    </td>
      </tr>
      </table>
    </div>
    </div>

    <div class="item">
     <div class="contentWraper"><div class="textWraper"><h2>He looked across the sea and knew how alone he was now. But he could see the prisms in the deep dark water and the line stretching ahead and the strange undulation of the calm. The clouds were building up now for the trade wind and he looked ahead and saw a flight of wild ducks etching themselves against the sky over the water, then blurring, then etching again and he knew no man was ever alone on the sea.</h2></div></div>
    </div>

    <div class="item">
      <div class="contentWraper" id="fadePciture"><img class="img-rounded autoResizeImg"  src="/modules/core/client/img/carousel/working.jpg" alt="Node Map">
    <h1 class="centerText">Collaborate!</h1>
    </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-click="removeFocus()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-click="removeFocus()">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

<section class="info container-fluid">

    <div class="node-side col-md-5 pull-left">
        <div class="col-md-12">
        <div class="info-list-head">
        <h3>
        FirstCrowd can make your company thrive!
        </h3>
        </div>
        <div class="list-items">
            <div class="row">
                <span class="pointer col-md-1 glyphicon glyphicon-menu-right pointer"></span>
                <h4 class="col-md-11 list-text">
Connect to new business partners, predict unseen risks, and identify new opportunities in the increasingly competitive business world with our innovative Entgraph&trade;  data model.
                </h4>
            </div>
            <div class="row">
                <span class="pointer col-md-1 glyphicon glyphicon-menu-right pointer"></span>
                <h4 class="col-md-11 list-text">
Manage projects, task crowdsourcing, and solve any complex problems at any scale with iterative crowdsourcing.
                </h4>
            </div>
            <div class="row">
                <span class="pointer col-md-1 glyphicon glyphicon-menu-right pointer"></span>
                <h4 class="col-md-11 list-text">
Contribute to our resource market and recieve optimized package recommendations, involving works and resources needed when posting a project.
                </h4>
            </div>
            <div class="row">
                <span class="pointer col-md-1 glyphicon glyphicon-menu-right pointer"></span>
                <h4 class="col-md-11 list-text">
                    Join the crowd as an enterprise or individual user. Act as a service requester, service provider, and resource owner.
                </h4>
            </div>
            <div class="row">
                <span class="pointer col-md-1 glyphicon glyphicon-menu-right pointer"></span>
                <h4 class="col-md-11 list-text">
                    Put your skills to work by joining our labor market, where you get paid to solve other people's problems.
                </h4>
            </div>
        </div>
        </div>
    </div>
    <div class="node-head col-md-3">
        <div class="info-head">
        <h3>
        Welcome to the platform to accelerate your business!
        </h3>
        </div>
        <div class="col-md-offset-2 col-md-8 info-section">
            <h3>FirstCrowd</h3>
        </div>
    </div>
    <div class="node-info col-md-3">
        <div class="info-section">
            <h4 class="black">
  Connect to suppliers, competitors and customers with our innovative Enterprise Graph!
            </h4>
        </div>
    </div>
    <div class="node-info col-md-3 pull-right">
        <div class="info-section">
            <h4 class="black">
  Let iterative crowdsourcing solve your problems!
            </h4>
        </div>
    </div>
    <div class="node-info col-md-3 end">
        <div class="info-section">
            <h4 class="black">
  Grow your business by streamlining it!
            </h4>
        </div>
    </div>
    <div class="col-md-3">
        <a ui-sref="authentication.signup">
            <div class="call-to-action">
            <button type="button" class="call-to-action btn btn-success">
                <h4 class="pad">Join the Crowd today!</h4>
            </button>
            </div>
        </a>
    </div>
</section>
