<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
<div id="myCarousel" class="carousel slide" data-ride="carousel" ng-app="carousel"  ng-controller="carouselCtrl">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
	<div class="contentWraper testimonial">
      <table class="testimonial">
      <tr>
        <td><img src="/modules/core/client/img/carousel/man.jpg" alt="Business man"></td>
        <td>
			<h1>Connect With Other Businesses!</h1>
			<h3>"I found better ways of connecting with potential clients and employees!"</h3>
		</td>
      </tr>
      </table>
	  </div>
    </div>

    <div class="item">
     <div class="contentWraper"><div class="textWraper"><h2>He looked across the sea and knew how alone he was now. But he could see the prisms in the deep dark water and the line stretching ahead and the strange undulation of the calm. The clouds were building up now for the trade wind and he looked ahead and saw a flight of wild ducks etching themselves against the sky over the water, then blurring, then etching again and he knew no man was ever alone on the sea.</h2></div></div>
    </div>

    <div class="item">
      <div class="contentWraper" id="fadePciture"><img  src="/modules/core/client/img/carousel/working.jpg" alt="Node Map">
		<h1 class="centerText">Collaborate!</h1>
	  </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-click="removeFocus()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-click="removeFocus()">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="footer text-center center-block">
  Copyright {{vm.currentYear}}.
  <button>Facebook <i class="fa fa-facebook"></i></button>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
</div>
