<div id="confirmDeletion" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
      </div>
      <div class="modal-body">
        <p>Really delete the task?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteTaskConfirmed()">Delete Task</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.cancelDeletion()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<section class="row">
  <nav class="col-md-2">
    <h3>Refine by:</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <label class="filter-label">
          Title contains:
          <input class="task-filter" ng-model="vm.filters.name">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Posting date:
          <input class="task-filter" ng-model="vm.filters.postingDate">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label" >
          Deadline:
          <input class="task-filter" ng-model="vm.filters.deadline">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Status:
            <input class="task-filter" ng-model="vm.filters.status">
        </label>
      </li>
    </ul>
  </nav>
  <div class="tasks-caption">
    <h4 class="tasks-">All My Tasks</h4>
    <input placeholder="Search All My Tasks"/>
    <a ui-sref="requesters.newtask">Create New Task</a>
  </div>
  <div class="col-md-10 tasks-table">
    <div class="tasks-row">
      <div class="tasks-cell">
        Title
        <button type="button" class="sort-button" ng-click="vm.sortTasks('name')">
          <div ng-if="vm.sort !== 'name'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Posting Date
        <button type="button" class="sort-button" ng-click="vm.sortTasks('postingDate')">
          <div ng-if="vm.sort !== 'postingDate'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Deadline
        <button type="button" class="sort-button" ng-click="vm.sortTasks('deadline')">
          <div ng-if="vm.sort !== 'deadline'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Status
        <button type="button" class="sort-button" ng-click="vm.sortTasks('status')">
          <div ng-if="vm.sort !== 'status'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Progress
        <button type="button" class="sort-button" ng-click="vm.sortTasks('progress')">
          <div ng-if="vm.sort !== 'progress'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Actions
      </div>
    </div>
    <div class="tasks-row" ng-repeat="task in vm.tasks | filter : vm.filters : false | orderBy: vm.sort : vm.sortReversed as results track by $index">
      <div class="tasks-cell">
        {{task.name}}
      </div>
      <div class="tasks-cell">
        {{task.postingDate.toDateString()}}
      </div>
      <div class="tasks-cell">
        {{task.deadline.toDateString()}}
      </div>
      <div class="tasks-cell">
        {{task.status}}
      </div>
      <div class="tasks-cell">
        <rzslider class="progress-slider" rz-slider-model="task.progress" rz-slider-options="vm.sliderOptions"></rzslider>
      </div>
      <div class="tasks-cell">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div ng-repeat="action in task.taskActions">
              <li><button class="dropdown-button-item" ng-click="vm.actOnTask($parent.task._id, action.id)">{{action.bikeshed}}</button></li>
            </div>
          </ul>
        </div>
      </div>

    </div> <!-- end ng-repeat -->
    <div class="text-center form-group">
      <div ng-if="vm.loaded === false">
        Loading...
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length === 0">
        There are no tasks.
      </div>
    </div>
  </div>

<!-- Payment Modal -->
<div id="reviewPaymentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" ng-show="vm.modal.showContent">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Task Information</h4>
      </div>
      <div class="modal-body">
        <h2>{{vm.modal.title}}</h3>
        <p>
          <b>Description: </b>{{vm.modal.description}}<br>
          <b>Created On: </b>{{vm.modal.dateCreated.toDateString()}}<br>
          <b>Deadline: </b>{{vm.modal.deadline.toDateString()}}<br>
          <b>Skills Needed: </b>{{vm.modal.skillsNeeded}}<br>
          <b>Category: </b>{{vm.modal.category}}<br>
          <b>Requires worker preapproval: </b>{{vm.modal.preapproval}}<br>
          <b>Only available to reccomended workers: </b>{{vm.modal.secret}}
        </p>
        <br>
        <h4><b>Cost Breakdown</b></h4>
        <div ng-hide="vm.modal.bidable">
          <p>
            <b>Number of possible workers: </b>{{vm.modal.multiplicity}}<br>
            <b>Cost per worker: </b>{{vm.modal.costPerWorker | number: 2}}<br>
            <b>Tax: </b>{{vm.modal.tax | number: 2}}<br>
            <b>Total Cost: </b>{{vm.modal.costPerWorker * vm.modal.multiplicity + (vm.modal.costPerWorker * vm.modal.multiplicity * vm.modal.tax) | number: 2}}
          </p>
        </div>
        <div ng-show="vm.modal.bidable">
          <p>
            <b>Number of possible workers: </b>{{vm.modal.multiplicity}}<br>
            <b>Max cost per worker: </b>{{vm.modal.bidding.maxPricePerWorker | number: 2}}<br>
            <b>Min cost per worker: </b>{{vm.modal.bidding.minPricePerWorker | number: 2}}<br>
            <b>Tax: </b>{{vm.modal.tax | number: 2}}<br>
            <b>Maximum possible Cost: </b>{{vm.modal.bidding.maxPricePerWorker * vm.modal.multiplicity + (vm.modal.bidding.maxPricePerWorker * vm.modal.multiplicity * tax) | number: 2}}<br>
            <b>Minimum possible Cost: </b>{{vm.modal.bidding.minPricePerWorker * vm.modal.multiplicity + (vm.modal.bidding.minPricePerWorker * vm.modal.multiplicity * tax) | number: 2}}<br>
            <b>Bidding Start: </b>{{vm.modal.bidding.biddingStart.toDateString()}}<br>
            <b>Bidding End: </b>{{vm.modal.bidding.biddingEnd.toDateString()}}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
              <div ng-hide="vm.modal.bidable">
                <div id="paypal-button"></div>
              </div>
              <button ng-show="vm.modal.bidable" type="button" class="btn btn-primary" style="width: 120%;">Activate</button>
            </div>
            <div class="col-md-3">
              <div class="container-fluid row">
                <div class="col-md-6"><b>OR</b></div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
