<section class="row">
  <nav class="col-md-2">
    <h3>Refine by:</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <label class="filter-label">
          Title contains:
          <input class="task-filter" ng-model="vm.filters.name">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Posting date:
          <input class="task-filter" ng-model="vm.filters.postingDate">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label" >
          Deadline:
          <input class="task-filter" ng-model="vm.filters.deadline">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Status:
            <input class="task-filter" ng-model="vm.filters.status">
        </label>
      </li>
    </ul>
  </nav>
  <div class="tasks-caption">
    <h4 class="tasks-">All My Tasks</h4>
    <input placeholder="Search All My Tasks"/>
    <a ui-sref="requesters.newtask">Create New Task</a>
  </div>
  <div class="col-md-10 tasks-table">
    <div class="tasks-row">
      <div class="tasks-cell">
        Title
      </div>
      <div class="tasks-cell">
        Posting Date
      </div>
      <div class="tasks-cell">
        Deadline
      </div>
      <div class="tasks-cell">
        Status
      </div>
      <div class="tasks-cell">
        Progress
      </div>
      <div class="tasks-cell">
        Actions
      </div>
    </div>
    <div class="tasks-row" ng-repeat="task in vm.tasks | filter : vm.filters : false as results track by $index">
      <div class="tasks-cell">
        {{task.name}}
      </div>
      <div class="tasks-cell">
        {{task.postingDate}}
      </div>
      <div class="tasks-cell">
        {{task.deadline}}
      </div>
      <div class="tasks-cell">
        {{task.status}}
      </div>
      <div class="tasks-cell">
        <rzslider class="progress-slider" rz-slider-model="task.progress" rz-slider-options="vm.sliderOptions"></rzslider>
      </div>
      <div class="tasks-cell">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div ng-repeat="item in task.taskActions">
              <li><button class="dropdown-button-item" ng-click="vm.actOnTask($parent.$index, item.id)">{{item.bikeshed}}</button></li>
            </div>
          </ul>
        </div>
      </div>

    </div> <!-- end ng-repeat -->
    <div class="text-center form-group">
      <div ng-if="vm.loaded === false">
        Loading...
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length === 0">
        There are no tasks.
      </div>
    </div>
  </div>
</section>
