<!-- Deletion Confirmation Modal -->
<div id="confirmDeletion" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
      </div>
      <div class="modal-body">
        <p>Really delete the task?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.deleteTaskConfirmed()">Delete Task</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.cancelDeletion()">Cancel</button>
      </div>
    </div>
  </div>
</div> <!-- end deletion confirmation modal -->
<section class="row"> <!-- Page body -->
  <nav class="col-md-2">
    <h3>Refine by:</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <label class="filter-label">
          Title contains:
          <input class="task-filter" ng-model="vm.filters.name" ng-change="vm.selectTask(-1)">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Posting date:
          <input class="task-filter" ng-model="vm.filters.postingDate" ng-change="vm.selectTask(-1)">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label" >
          Deadline:
          <input class="task-filter" ng-model="vm.filters.deadline" ng-change="vm.selectTask(-1)">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Status:
            <input class="task-filter" ng-model="vm.filters.status" ng-change="vm.selectTask(-1)">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Category:
            <input class="task-filter" ng-model="vm.filters.category">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Description:
            <input class="task-filter" ng-model="vm.filters.description">
        </label>
      </li>
    </ul>
  </nav>
  <div class="tasks-caption">
    All My Tasks
    <input placeholder="Search All My Tasks"/>
    <a ui-sref="requesters.newtask">Create New Task</a>
  </div>
  <div class="col-md-10 tasks-table">
    <div class="tasks-row tasks-group">
      <div class="tasks-cell">
        Title
        <button type="button" class="sort-button" ng-click="vm.sortTasks('name')">
          <div ng-if="vm.sort !== 'name'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Posting Date
        <button type="button" class="sort-button" ng-click="vm.sortTasks('postingDate')">
          <div ng-if="vm.sort !== 'postingDate'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Deadline
        <button type="button" class="sort-button" ng-click="vm.sortTasks('deadline')">
          <div ng-if="vm.sort !== 'deadline'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Status
        <button type="button" class="sort-button" ng-click="vm.sortTasks('status')">
          <div ng-if="vm.sort !== 'status'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Progress
        <button type="button" class="sort-button" ng-click="vm.sortTasks('progress')">
          <div ng-if="vm.sort !== 'progress'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        <!-- 'Actions' doesn't need a column label, but we need one to line up other elements -->
      </div>
    </div>
    <div class="tasks-group" ng-repeat="task in vm.tasks | filter : vm.filters : false | orderBy: vm.sort : vm.sortReversed as results track by $index">
      <div class="tasks-row" ng-click="$event.originalEvent.dropdown || (vm.toggleTask(vm.tasks.indexOf(task)))">
        <div class="tasks-cell  clickable-looking">
          {{task.name}}
        </div>
        <div class="tasks-cell ">
          {{task.postingDate.toDateString()}}
        </div>
        <div class="tasks-cell">
          {{task.deadline.toDateString()}}
        </div>
        <div class="tasks-cell">
          {{task.status}}
        </div>
        <div class="tasks-cell">
          <rzslider class="requester-slider" rz-slider-model="task.progress" rz-slider-options="vm.getSliderOptions(vm.tasks.indexOf(task))"></rzslider>
        </div>
        <div class="tasks-cell">
          <div class="dropdown" ng-click="$event.originalEvent.dropdown = true">
            <button class="btn btn-primary dropdown-toggle" ng-click="vm.selectTask(vm.tasks.indexOf(task))" type="button" data-toggle="dropdown">Actions
            <span class="caret"></span></button>
            <ul class="dropdown-menu actions-dropdown-menu">
              <div ng-repeat="action in task.taskActions">
                <li class="dropdown-button-item actions-dropdown-button-item" ng-click="vm.actOnTask(vm.tasks.indexOf(task), action.id)">{{action.bikeshed}}</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div ng-if="vm.selectedTask == vm.tasks.indexOf(task)">
        <div class="tasks-row">
          <div class="tasks-cell">
            Categories: {{task.category}}
          </div>
          <div class="tasks-cell">
            Requires: {{task.skillsNeeded}}
          </div>
        </div>
        <div class="tasks-row">
          <div class="tasks-description">
            Description: {{task.description}}
          </div>
        </div>
        <div class="tasks-row" ng-if="task.status === 'open'">
          <div class="tasks-col tasks-cell tasks-smaller">
            <div class="tasks-cell" ng-if="task.bids.length > 0">
              Applicants:
            </div>
            <div class="tasks-cell" ng-repeat="bid in task.bids track by $index">
              <button class="btn" ng-class="{'bid-selected': vm.tasks[vm.selectedTask].bids.indexOf(bid) === vm.selectedBid}" ng-click="vm.selectBid(vm.tasks[vm.selectedTask].bids.indexOf(bid))">{{ bid.bidDetails.displayId }}: ${{ bid.bid }}
            </div>
          </div>
          <div class="tasks-col tasks-cell">
            <div ng-if="vm.selectedBid !== -1">
              <h6>Experience</h6>
              <div ng-repeat="experience in task.bids[vm.selectedBid].bidDetails.jobExperience">
                <div class="tasks-row">
                  <div class="tasks-cell">
                    {{experience.jobTitle}}
                  </div>
                  <div class="tasks-cell">
                    {{experience.employer}}
                  </div>
                  <div class="tasks-cell">
                    {{experience.description}}
                  </div>
                </div>
              </div>
              <h6>Education</h6>
              <div ng-repeat="school in task.bids[vm.selectedBid].bidDetails.schools">
                <div class="tasks-row" ng-repeat="degree in school.degrees">
                  {{degree.degreeLevel}} in {{degree.name}}
                  <span ng-repeat="concentration in degree.concentration">, concentration in {{concentration}}</span>
                </div>
                <div class="tasks-row">
                  <div class="tasks-cell">
                    {{school.schoolName}}
                  </div>
                </div>
              </div>
              <h6>Certifications</h6>
              <div ng-repeat="certification in task.bids[vm.selectedBid].bidDetails.certification">
                <div class="tasks-row">
                  <div class="tasks-cell">
                    {{certification.certificationName}}
                  </div>
                  <div class="tasks-cell">
                    {{certification.institution}}
                  </div>
                  <div class="tasks-cell">
                    {{certification.description}}
                  </div>
                </div>
              </div>
              <h4>Skills</h4>
              <div ng-repeat="skill in task.bids[vm.selectedBid].bidDetails.skills">
                <div class="tasks-row">
                  <div class="tasks-cell">
                    {{skill.skill}}
                  </div>
                </div>
              </div>
              <button class="btn" ng-click="vm.rejectSelectedBidder()">Reject this worker</button>
              <button class="btn btn-primary" ng-click="vm.hireSelectedWorker()">Hire this worker</button>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end ng-repeat -->
    <div class="text-center">
      <div ng-if="vm.loaded === false">
        Loading...
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length === 0">
        There are no tasks.
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length > 0 && results.length === 0">
        None of the tasks match your filter settings.
        <button type="button" class="btn" ng-click="vm.clearFilters()">Clear all filters</button>
      </div>
    </div>
  </div>

<!-- Payment Modal -->
<div id="reviewPaymentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" ng-show="vm.modal.showContent">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Task Information</h4>
      </div>
      <div class="modal-body">
        <h2>{{vm.modal.title}}</h3>
        <p>
          <span class="summary-row">
            <span class="summary-label">Description: </span>
            <span class="summary-element">{{vm.modal.description}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Created On: </span>
            <span class="summary-element">{{vm.modal.dateCreated.toDateString()}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Deadline: </span>
            <span class="summary-element">{{vm.modal.deadline.toDateString()}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Skills Needed: </span>
            <span class="summary-element">{{vm.modal.skillsNeeded}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Category: </span>
            <span class="summary-element">{{vm.modal.category}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Requires worker preapproval: </span>
            <span class="summary-element">{{vm.modal.preapproval}}</span><br>
          </span>
          <span class="summary-row">
            <span class="summary-label">Only available to reccomended workers: </span>
            <span class="summary-element">{{vm.modal.secret}}</span>
          </span>
        </p>
        <br>
        <h4><span class="summary-label">Cost Breakdown</span></h4>
        <div ng-hide="vm.modal.bidable">
          <p>
            <span class="summary-row">
              <span class="summary-label">Number of possible workers: </span>
              <span class="summary-element">{{vm.modal.multiplicity}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Cost per worker: </span>
              <span class="summary-element">&#36;{{vm.modal.costPerWorker | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Tax: </span>
              <span class="summary-element">&#36;{{vm.modal.tax | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Total Cost: </span>
              <span class="summary-element">&#36;{{vm.modal.costPerWorker * vm.modal.multiplicity + (vm.modal.costPerWorker * vm.modal.multiplicity * vm.modal.tax) | number: 2}}</span>
            </span>
          </p>
        </div>
        <div ng-show="vm.modal.bidable && vm.selectedBid === -1">
          <p>
            <span class="summary-row">
              <span class="summary-label">Number of possible workers: </span>
              <span class="summary-element">{{vm.modal.multiplicity}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Max cost per worker: </span>
              <span class="summary-element">&#36;{{vm.modal.bidding.maxPricePerWorker | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Min cost per worker: </span>
              <span class="summary-element">&#36;{{vm.modal.bidding.minPricePerWorker | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Tax: </span>
              <span class="summary-element">&#36;{{vm.modal.tax | number: 2}}</span><br>
            <span class="summary-row">
              <span class="summary-label">Maximum possible Cost: </span>
              <span class="summary-element">&#36;{{(vm.modal.bidding.maxPricePerWorker * vm.modal.multiplicity + (vm.modal.bidding.maxPricePerWorker * vm.modal.multiplicity * vm.modal.tax)) | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Minimum possible Cost: </span>
              <span class="summary-element">&#36;{{(vm.modal.bidding.minPricePerWorker * vm.modal.multiplicity + (vm.modal.bidding.minPricePerWorker * vm.modal.multiplicity * vm.modal.tax)) | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Bidding Start: </span>
              <span class="summary-element">{{vm.modal.bidding.biddingStart.toDateString()}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Bidding End: </span>
              <span class="summary-element">{{vm.modal.bidding.biddingEnd.toDateString()}}</span>
            </span>
          </p>
        </div>
        <div ng-show="vm.modal.bidable && vm.selectedBid !== -1">
          <p>
            <span class="summary-row">
              <span class="summary-label">Worker id: </span>
              <span class="summary-element">{{ vm.tasks[vm.selectedTask].bids[vm.selectedBid].bidDetails.displayId }}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Worker's payment: </span>
              <span class="summary-element">&#36;{{ vm.tasks[vm.selectedTask].bids[vm.selectedBid].bid | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Tax: </span>
              <span class="summary-element">&#36;{{vm.modal.tax | number: 2}}</span><br>
            </span>
            <span class="summary-row">
              <span class="summary-label">Total Cost: </span>
              <span class="summary-element">&#36;{{ vm.tasks[vm.selectedTask].bids[vm.selectedBid].bid + vm.modal.tax | number: 2}}</span>
            </span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
              <div ng-hide="vm.modal.bidable && vm.selectedBid === -1">
                <div id="paypal-button"></div>
              </div>
              <button ng-show="vm.modal.bidable && vm.selectedBid === -1" ng-click="vm.activateBidableTask()" type="button" class="btn btn-primary" style="width: 120%;">Activate</button>
            </div>
            <div class="col-md-3">
              <div class="container-fluid row">
                <div class="col-md-6"><span class="summary-label">OR</span></div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
