<section>
  <div class="page-header">
    <h1>Workers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="worker in vm.workers"
       ui-sref="workers.view({ workerId: worker._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="worker.created | date:'mediumDate'"></span>
        by
        <span ng-if="worker.user" ng-bind="worker.user.displayName"></span>
        <span ng-if="!worker.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="worker.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.workers.$resolved && !vm.workers.length">
    No Workers yet, why don't you <a ui-sref="workers.create">create one</a>?
  </div>
</section>
