<section class="container worker-messages row">
  <div class="col-md-3 message-sidebar container-fluid">
    <div class="tab-surround">
      <div class="row tab">
        <div class="col-md-5 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('active')">Active</button>
        </div>
        <div class="col-md-7 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('uncompleted')">Uncompleted</button>
        </div>
        <div class="col-md-7 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('completed')">Completed</button>
        </div>
        <div class="col-md-5 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('all')">All</button>
        </div>
        <div class="col-md-5 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('recomended')">Recomended</button>
        </div>
        <div class="col-md-7 tab-col">
          <button class="tablinks" ng-click="vm.sidebar.getTasks('recent')">Recent Messages</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" placeholder="Search" class="searchTasks" ng-disabled="!vm.sidebar.tasks || vm.sidebar.tasks <= 0" ng-model="vm.taskSearch">
        </div>
      </div>
      <div class="sidebar-displayTasks">
        <div class="row" ng-if="vm.sidebar.tasks && vm.sidebar.tasks.length >= 1 && !vm.taskSearch">
          <div class="col-md-12">
            <div class="sidebar-name" ng-click="vm.loadMessagesIncrementally(vm.sidebar.tasks, true)">All</div>
          </div>
        </div>
        <div class="row" ng-repeat="task in vm.sidebar.tasks | filter: vm.taskSearch">
          <div class="col-md-12">
            <div class="sidebar-name expandMessage" ng-click="(vm.messageView.task != task) ? vm.loadMessagesIncrementally(task, true) : nothing;" data-toggle="collapse" data-target="#task{{task._id}}" aria-expanded="false">Title: {{task.title}}
              <span>
                <i class="glyphicon glyphicon-chevron-down expandMessageGlyph greyText"></i>
                <i class="glyphicon glyphicon-chevron-up expandMessageGlyph greyText"></i>
              </span>
              <span class="indicateMore"></span>
            </div>
            <div class="message row collapse" id="task{{task._id}}">
              <div class="col-md-12 message-body">
                Description: {{task.description}}<br>
                Deadline: {{vm.getReadableDate(task.deadline)}}<br>
                Payment: ${{task.jobs[0].awardAmount | number: 2}}
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="row" ng-if="!vm.sidebar.tasks || vm.sidebar.tasks.length <= 0">
          <div class="col-md-12">
            <div class="sidebar-name">No Tasks...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 container-fluid messageView">
    <div class="messageView-messages" ng-class="{'expandMessageBackDrop': vm.sendMessage.expanded}">
      <div class="row">
        <span class="messages-title col-md-12" ng-if="vm.messageView.title">Messages For: {{vm.messageView.title}}</span>
        <span class="messages-title col-md-12" ng-if="!vm.messageView.title">No Task Selected</span>
      </div>
      <div class="row tab">
        <div class="col-md-3 tab-col">
          <button class="tablinks connected-tablinks" ng-click="vm.sidebar.sortTasks('all')" ng-class="{activeSortTab: vm.sortTabs.all}" style="border-left: 1px solid grey">All Messages</button>
        </div>
        <div class="col-md-3 tab-col">
          <button class="tablinks connected-tablinks" ng-click="vm.sidebar.sortTasks('messages')" ng-class="{activeSortTab: vm.sortTabs.messages}">Your Messages</button>
        </div>
        <div class="col-md-3 tab-col">
          <button class="tablinks connected-tablinks" ng-click="vm.sidebar.sortTasks('submissions')" ng-class="{activeSortTab: vm.sortTabs.submissions}">Your Submissions</button>
        </div>
        <div class="col-md-3 tab-col">
          <span class="searchMessages"><input type="text" ng-model="vm.messageSearch" placeholder="Search Messages" ng-disabled="vm.messageView.messages.length <= 0"><i class="glyphicon glyphicon-search expandMessageGlyph greyText"></i></span>
        </div>
      </div>
      <br>
      <div ng-repeat="message in vm.messageView.messages  | filter: { messages: { $: vm.messageSearch }}">
        <!-- Submissions Messages -->
        <div ng-if="message.files && message.files.length > 0 && vm.showSubmissions" ng-click="vm.messageView.taskMessage = message.task">
          <div data-toggle="collapse" data-target="#submissionMsg{{message.timeStamp}}" aria-expanded="false" class="expandMessage" ng-click="vm.collapseAllMessages()">
            <span class="collapseButton">Submission on: {{vm.minutesToReadable(message.timeStamp)}}<span ng-if="vm.messageView.task !== message.task"> for task {{message.task.title}}</span>
              <span class="greyText" >
                ~ &ldquo;<span ng-if="message.messages.submission">{{vm.trimMessage(message.messages.submission)[0]}}</span><span ng-if="!message.messages.submission">{{vm.joinFileNames(message.files)}}</span>&rdquo;
              </span>
            </span>
            <span>
              <i class="glyphicon glyphicon-chevron-down expandMessageGlyph greyText"></i>
              <i class="glyphicon glyphicon-chevron-up expandMessageGlyph greyText"></i>
            </span>
            <span class="indicateMore"></span>
          </div>
          <div class="message row collapse" id="submissionMsg{{message.timeStamp}}">
            <div class="col-md-12 message-body">
              <div ng-if="message.messages.submission">
                <p ng-repeat="msg in vm.trimMessage(message.messages.submission)">{{msg}}</p>
              </div>
              <br ng-if="!message.messages.submission">
              Attachments:
              <span ng-repeat="file in message.files">
                <a ng-click="vm.previousSubmissionDownload(file)">{{file.name}}</a><span class="fontBold" ng-if="message.files.length > 1">,</span>
              </span>
              <a ng-click="vm.previousSubmissionDownload(message.files)" ng-if="message.files.length > 1" class="glyphicon glyphicon-download-alt clickable-looking">-All</a>
              <br>
            </div>
          </div>
          <hr>
        </div>
        <!-- Worker Messages -->
        <div ng-if="message.messages.worker && message.messages.worker.length > 0 && vm.showMessages" ng-click="vm.messageView.taskMessage = message.task">
          <div data-toggle="collapse" data-target="#workerMsg{{message.timeStamp}}" aria-expanded="false" class="expandMessage" ng-click="vm.collapseAllMessages()">
            <span class="collapseButton">Message sent: {{vm.minutesToReadable(message.timeStamp)}}<span ng-if="vm.messageView.task !== message.task"> for task {{message.task.title}}</span><span class="greyText" ng-if="message.messages.worker"> ~ &ldquo;{{vm.trimMessage(message.messages.worker)[0]}}&rdquo;</span></span>
            <span>
              <i class="glyphicon glyphicon-chevron-down expandMessageGlyph greyText"></i>
              <i class="glyphicon glyphicon-chevron-up expandMessageGlyph greyText"></i>
            </span>
            <span class="indicateMore"></span>
          </div>
          <div class="message row collapse" id="workerMsg{{message.timeStamp}}">
            <div class="col-md-12 message-body">
              <p ng-repeat="msg in vm.trimMessage(message.messages.worker)">{{msg}}</p>
            </div>
          </div>
          <hr>
        </div>
        <!-- Requester Messages -->
        <div ng-if="message.messages.requester && message.messages.requester.length > 0 && vm.showMessages" ng-click="vm.messageView.taskMessage = message.task">
          <div data-toggle="collapse" data-target="#requesterMsg{{message.timeStamp}}" aria-expanded="false" class="expandMessage" ng-click="vm.collapseAllMessages()">
            <span class="collapseButton">Message received: {{vm.minutesToReadable(message.timeStamp)}}<span ng-if="vm.messageView.task !== message.task"> for {{message.task.title}}</span><span class="greyText" ng-if="message.messages.requester"> ~ &ldquo;{{vm.trimMessage(message.messages.requester)[0]}}&rdquo;</span></span>
            <span>
              <i class="glyphicon glyphicon-chevron-down expandMessageGlyph greyText"></i>
              <i class="glyphicon glyphicon-chevron-up expandMessageGlyph greyText"></i>
            </span>
            <span class="indicateMore"></span>
          </div>
          <div class="message row collapse" id="requesterMsg{{message.timeStamp}}">
            <div class="col-md-12 message-body">
              <p ng-repeat="msg in vm.trimMessage(message.messages.requester)">{{msg}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="sendMessage" ng-class="{'expandSend': vm.sendMessage.expanded}">
      <div class="messageBackDrop" ng-class="{'expandMessageBackDrop': vm.sendMessage.expanded}" ng-if="vm.messageView.taskMessage">
        <span class="closeSpan"><button ng-if="vm.sendMessage.expanded" ng-click="vm.closeSendMessage()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
        <span class="bold-font to-field" ng-if="vm.sendMessage.expanded">To: {{vm.messageView.taskMessage.title}}</span>
        <textarea class="message" ng-model="vm.sendMessage.message" placeholder="Send a new message to task: {{vm.messageView.taskMessage.title}}" ng-click="vm.sendMessage.expanded = true"></textarea>
        <div class="buttonMover">
          <div ng-class="{expandSendButtons: vm.sendMessage.expanded}" class="sendButtons">
            <button ng-click="vm.sendMessage.send()" type="button" class="btn btn-primary">Send</button>
            <button ng-click="vm.closeSendMessage()" type="button" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
