<!-- submission Modal -->
<div id="submissionModal" class="modal submissionModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form ng-submit="vm.submissionConfirmed(vm.submittedFiles)">
        <div class="modal-header">
          <h4 class="modal-title">Submission</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-6 modalContent-left">
            <button class="btn btn-primary" ngf-select multiple ng-model="vm.submittedFiles" name="file" ngf-accept="'*'" ngf-max-size="2GB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select Files</button>
            <br>
            <div ng-if="vm.submittedFiles && vm.submittedFiles.length > 0">
              <br>Files:
              <ul class="selectedFiles">
                <li ng-repeat="f in vm.submittedFiles" style="font:smaller">
                  <span class="selectedFile">{{f.name}}</span> <span class="glyphicon glyphicon-remove  clickable-looking" ng-click="vm.submittedFiles.splice(vm.submittedFiles.indexOf(f), 1)"></span>
                </li>
              </ul>
              <span class="submissionProgress" ng-show="vm.submissionProgress >= 0">
                <div style="width:{{vm.submissionProgress}}%" ng-bind="vm.submissionProgress + '%'"></div>
              </span>
            </div>
            <br><br>Message:
            <textarea class="form-control noResize" rows="5" id="comment" ng-model="vm.submissionMessage" placeholder="Submission message"></textarea>
          </div>
          <div class="col-md-6 modalContent-right">
            <h4>Previously Submitted:</h4>
            <ul>
              <li ng-repeat="prev in vm.previouslySubmittedFiles" style="font:smaller">
                <h5 class="keyHeader">{{vm.minutesToReadable(prev.timeStamp)}}</h5>
                <textarea ng-if="prev.messages.submission" class="form-control resizeVertical" rows="3">{{prev.messages.submission}}</textarea>
                <div ng-if="prev.files && prev.files.length > 0">
                  Attachments:
                  <span ng-repeat="file in prev.files">
                    <a ng-click="vm.previousSubmissionDownload(file)">{{file.name}}</a><span class="fontBold" ng-if="prev.files.length > 1">,</span>
                  </span>
                  <a ng-click="vm.previousSubmissionDownload(prev.files)" ng-if="prev.files.length > 1" class="glyphicon glyphicon-download-alt clickable-looking">-All</a>
                </div>
              </li>
            </ul>
            <a ui-sref="workers.messages" ng-click="vm.closeSubmissionModal()">See all submissions and messages</a>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" id="submit" value="Submit" class="btn btn-primary" >
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.closeSubmissionModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- end submission modal -->
<section class="row">
  <nav class="col-md-2">
    <h3>Refine by:</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <label class="filter-label">
          Title contains:
          <input class="task-filter" ng-model="vm.filters.name">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Posting date:
          <input class="task-filter" ng-model="vm.filters.postingDate">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label" >
          Deadline:
          <input class="task-filter" ng-model="vm.filters.deadline">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Status:
            <input class="task-filter" ng-model="vm.filters.status">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Category:
            <input class="task-filter" ng-model="vm.filters.category">
        </label>
      </li>
      <li class="list-group-item">
        <label class="filter-label">
          Description:
            <input class="task-filter" ng-model="vm.filters.description">
        </label>
      </li>
    </ul>
  </nav>
  <div class="tasks-caption">
    <select ng-model="vm.taskCategory" ng-change="vm.changeTaskCategory()" ng-options="x.bikeshed for x in vm.taskCategories">
    </select>
  </div>
  <div class="col-md-10 tasks-table">
    <div class="tasks-row">
      <div class="tasks-cell">
        Title
        <button type="button" class="sort-button" ng-click="vm.sortTasks('name')">
          <div ng-if="vm.sort !== 'name'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'name' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Posting Date
        <button type="button" class="sort-button" ng-click="vm.sortTasks('postingDate')">
          <div ng-if="vm.sort !== 'postingDate'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'postingDate' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Deadline
        <button type="button" class="sort-button" ng-click="vm.sortTasks('deadline')">
          <div ng-if="vm.sort !== 'deadline'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'deadline' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Status
        <button type="button" class="sort-button" ng-click="vm.sortTasks('status')">
          <div ng-if="vm.sort !== 'status'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'status' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell" ng-if="vm.taskCategory.id === 'active'">
        Progress
        <button type="button" class="sort-button" ng-click="vm.sortTasks('progress')">
          <div ng-if="vm.sort !== 'progress'">
            <i class="fa fa-sort" aria-hidden="true"></i>
            <span class="sr-only">Sort</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === false">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Ascending</span>
          </div>
          <div ng-if="vm.sort === 'progress' && vm.sortReversed === true">
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
            <span class="sr-only">Sorted Descending</span>
          </div>
        </button>
      </div>
      <div class="tasks-cell">
        Payment
      </div>
    </div>
    <div ng-repeat="task in vm.tasks | filter : vm.filters : false | orderBy: vm.sort : vm.sortReversed as results track by $index">
      <div class="tasks-group">
        <div class="tasks-row" ng-click="vm.selectTask($index)">
          <div class="tasks-cell clickable-looking">
            {{task.name}}
          </div>
          <div class="tasks-cell">
            {{task.postingDate.toDateString()}}
          </div>
          <div class="tasks-cell">
            {{task.deadline.toDateString()}}
          </div>
          <div class="tasks-cell">
            {{task.status}}
          </div>
          <div class="tasks-cell" ng-if="vm.taskCategory.id === 'active'" ng-click="$event.stopPropagation()">
            <rzslider class="worker-slider" rz-slider-model="task.progress" rz-slider-options="vm.getSliderOptions(vm.tasks.indexOf(task))"></rzslider>
          </div>
          <div class="tasks-cell" ng-if="task.status === 'open' && task.payment.bidding.bidable">
            ${{task.payment.bidding.startingPrice}} (negotiable)
          </div>
          <div class="tasks-cell" ng-if="task.status !== 'open' && task.payment.bidding.bidable">
            $VALUE OF YOUR BID
          </div>
          <div class="tasks-cell" ng-if="!task.payment.bidding.bidable">
            ${{task.payment.staticPrice}}
          </div>
        </div>
        <div ng-if="vm.selectedTask == $index">
          <div class="tasks-row">
            <div class="tasks-cell">
              Categories: {{task.category}}
            </div>
            <div class="tasks-cell">
              Requires: {{task.skillsNeeded}}
            </div>
            <div class="tasks-cell" ng-if="task.payment.bidding.bidable">
              Bid amount: <input class="cell-input" ng-model="task.payment.bidding.myBid">
            </div>
            <div class="tasks-cell">
              <div>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu actions-dropdown-menu">
                    <div ng-repeat="action in task.taskActions">
                      <li class="dropdown-button-item actions-dropdown-button-item" ng-click="vm.actOnTask(vm.tasks.indexOf(task), action)">{{action.bikeshed}}</button></li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tasks-row">
            <div class="tasks-description">
              Description: {{task.description}}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end ng-repeat -->
    <div class="text-center">
      <div ng-if="vm.loaded === false">
        Loading...
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length === 0">
        There are no tasks.
      </div>
      <div ng-if="vm.loaded === true && vm.tasks.length > 0 && results.length === 0">
        None of the tasks match your filter settings.
        <button type="button" class="btn" ng-click="vm.clearFilters()">Clear all filters</button>
      </div>
    </div>
  </div>
</section>
