.individual-bio-element {
  border-color: #DDFFFF;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual-education-degree {
  border-color: #DDFFDD;
  border-style: dotted;
  margin-bottom: 1em;
}
