.individual-bio-element {
  border-color: #DDFFFF;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual-education-degree {
  border-color: #DDFFDD;
  border-style: dotted;
  margin-bottom: 1em;
}

.flex-linegroup {
  display: flex;
}

/*
.required-label {

}
*/

.optional-label {
  font-style: italic;
  font-weight: normal;
}

.flex-lineitem {
  flex: 1 1 0;
}

.form-body {
  margin-bottom: 20px;
}

.hr-font-color-lightBlue {
  border-top: 2px solid #DDFFFF;
  border-bottom: 1px solid LightGray;
}

.center-button-group {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.center-button-group button {
  margin: 3px;
}
