.individual-bio-element {
  border-color: #DDFFFF;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5em;
}

.individual-education-degree {
  border-color: #DDFFDD;
  border-style: dotted;
  margin-bottom: 1em;
}

.flex-linegroup {
  display: flex;
}

/*
.required-label {

}
*/

.optional-label {
  font-style: italic;
  font-weight: normal;
}

.flex-lineitem {
  flex: 1 1 0;
}

.form-body {
  margin-bottom: 20px;
}
