<section>
  <div class="page-header">
    <h1>Individuals</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="individual in vm.individuals"
       ui-sref="individuals.view({ individualId: individual._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="individual.created | date:'mediumDate'"></span>
        by
        <span ng-if="individual.user" ng-bind="individual.user.displayName"></span>
        <span ng-if="!individual.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="individual.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.individuals.$resolved && !vm.individuals.length">
    No Individuals yet, why don't you <a ui-sref="individuals.create">create one</a>?
  </div>
</section>
