<div ng-controller="ResumeController as vm">
  <section class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="resume-section">
        {{vm.user.firstName}} {{vm.user.middleName}} {{vm.user.lastName}}, {{vm.individual.bio.profession}}<br/>
        {{vm.user.email}} {{vm.user.phone}}
      </div>
      <div class="resume-section">
        {{vm.individual.bio.address.streetAddress}}<br/>
        {{vm.individual.bio.address.city}} {{vm.individual.bio.address.state}}
        {{vm.individual.bio.address.zipCode}} {{vm.individual.bio.address.country}}
      </div>
      <div class="resume-section">
        <div class="resume-component" ng-repeat="school in vm.individual.schools">
            {{school.schoolName}}, {{school.startDate.substr(0, school.startDate.indexOf('-'))}} - {{school.endDate.substr(0, school.endDate.indexOf('-'))}}
          <div ng-repeat="degree in school.degrees">
            {{degree.degreeLevel}} in {{degree.name}}
          </div>
        </div>
      </div>
      <div class="resume-section">
        <div class="resume-component" ng-repeat="cert in vm.individual.certification">
          {{cert.certificationName}} Certification from {{cert.institution}}, {{cert.dateIssued.substr(0, cert.dateIssued.indexOf('-'))}} - {{cert.dateExpired.substr(0, cert.dateExpired.indexOf('-'))}}</br>
        </div>
      </div>
      <div class="resume-section">
        <div class="resume-component" ng-repeat="job in vm.individual.jobExperience">
          {{job.jobTitle}} for {{job.employer}}, {{job.startDate.substr(0, job.startDate.indexOf('-'))}} - {{job.endDate.substr(0, job.endDate.indexOf('-'))}}<br/>
          <span ng-repeat="skill in job.skills">{{skill}}{{$last ? '.' : ','}} </span><br/>
          {{job.description}}
        </div>
      </div>
      <!--
      <div class="resume-component" ng-repeat="skill in vm.individual.skills track by $index">
        
      </div>
      -->
    </div>
  </section>
</div>
