.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: black;
  stroke-width: 2px;
}

.side-panel {
  background-color: lightgray;
  height: 100vh;
  padding: 5px;
  position: absolute;
  width: 22em;
}

.toggle-side {
  margin-top: 3vh;
  position: absolute;
}

.side-active {
  margin-left: 22em;
  padding: 10px;
}

.side-logo {
  height: 10em;
  /* margin-top: 3vh; */
  width: 10em;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  color: gray;
  font-size: medium;
  padding: 10px;
  position: absolute;
  z-index: 100;
}

/* align glyph */
/* 0.1 px to shut up css linter errors */
.toggle-side .right-addon .glyphicon { right: 0.1px;}
.right-addon .glyphicon { right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.home {
  color: lightgray;
  font-size: 30px;
  position: absolute;
  right: 10vh;
  top: 13vh;
}

.exit {
/* 0.1 px to shut up css linter errors */
  font-size: large !important;
  right: 0.1px !important;
  z-index: 0 !important;
}