.graph {
  background-color: #0066ba;
}
.node {
  stroke-width: 1.5px;
}

.link-suppliers {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.link-customers {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

.side-panel {
  background-color: lightgray;
  padding: 5px;
  position: absolute;
  width: 22em;
}

.toggle-side {
  margin-top: 3vh;
  position: absolute;
}

.side-active {
  margin-left: 22em;
  padding: 10px;
}

.side-logo {
  height: 7em;
  padding: 15px;
  /* margin-top: 3vh; */
  width: 7em;
}

.inner-addon {
  padding-top: 10px;
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  color: gray;
  font-size: medium;
  padding: 10px;
  padding-top: 20px;
  position: absolute;
  z-index: 100;
}

/* align glyph */
/* 0.1 px to shut up css linter errors */
.toggle-side .right-addon .glyphicon { right: 0.1px;}
.right-addon .glyphicon { right: 20px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.home {
  color: lightgray;
  font-size: 30px;
  position: absolute;
  right: 10vh;
  top: 13vh;
}

.exit {
/* 0.1 px to shut up css linter errors */
  font-size: large !important;
  right: 0.1px !important;
  z-index: 0 !important;
}

html .competition{
  background-color: lightgray;
  height: 100%;

}

.side-list {
  overflow-y: auto;
}

.side-list-item {
  padding: 10px;
}

.spacer {
    background: black;
    background: gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
    background: -ms-gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
    border:none;
    color:white;
    display:block;
    height:1px;
}

.see-all {
  padding-top: 10px;
}

.search-results {
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: black;
  cursor: pointer;
  display: block;
  padding: 6px 6px 4px 16px;
  text-decoration: none;
}

.search-results:hover {
  border-bottom-color: gray;
}

.search-content {
  border: 1px solid lightgray;
}

.search-glyphicon {
  cursor: pointer;
  display: block;
}

.search-dropdown {
  display: block;
}

.loader,
.loader:before,
.loader:after {
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  background: #ffffff;
  height: 4em;
  position: absolute;
  width: 1em;
}
.loader {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  color: #ffffff;
  font-size: 11px;
  margin: 88px auto;
  position: relative;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  left: -1.5em;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
