<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.individualProfile" ng-submit="vm.updateIndividualProfile(vm.individualProfile.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>        
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.individual.username" placeholder="username" lowercase required>
          <div ng-messages="vm.individualProfile.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">username is required.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.individual.phone" placeholder="Phone" required>
          <div ng-messages="vm.individualProfile.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone is required.</p>
            <p class="help-block error-text" ng-message="email">Phone is invalid.</p>
          </div>
        </div>
        
        
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.individual.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.individualProfile.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        
        <div class="form-group">
          <label control-label" for="preferredContact">Preferred Contact</label>
          <div class="radio">
            <label for="phone">
              <input class="form-check" name="preferredContact" id="phone" value="phone" type="radio" ng-model="vm.individual.preferredContact" required>
              Phone
            </label>
          </div>
          <div class="radio">
            <label for="email">
              <input class="form-check" name="preferredContact" id="email" value="email" type="radio" ng-model="vm.individual.preferredContact">
              Email
            </label>
          </div>
        </div>

        
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
        
      </fieldset>
    </form>
  </div>
</section>
