<div ng-controller="SkillsController">
  <section class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
      <form name="vm.skillsForm" ng-submit="vm.updateIndividualSkills(vm.skillsForm.$valid)" novalidate autocomplete="off">
        <div ng-repeat="skill in vm.skills as results track by $index">
          <div class="individual-bio-element">
            
            <div class="form-group" show-errors>
              <label for="skill{{$index}}">Skill:</label>
              <input type="text" id="skill{{$index}}" name="skill{{$index}}" class="form-control" ng-model="vm.skills[$index].skill" placeholder="Skill" required autofocus>
              <div ng-messages="vm.skillsForm['skill'+$index].$error" role="alert">
                <p class="help-block error-text" ng-message="required">Skill is required. </p>
              </div>
            </div>
            
            <div class="form-group" show-errors>
              <label for="firstUsed{{$index}}">First Used:</label>
              <input type="date" id="firstUsed{{$index}}" name="firstUsed{{$index}}" class="form-control" ng-model="vm.skills[$index].firstUsed" placeholder="First Used" required>
              <div ng-messages="vm.skillsForm['firstUsed'+$index].$error" role="alert">
                <p class="help-block error-text" ng-message="required">First Used is required. </p>
              </div>
            </div>
            
            <div class="form-group" show-errors>
              <label for="lastUsed{{$index}}">Last Used:</label>
              <input type="date" id="lastUsed{{$index}}" name="lastUsed{{$index}}" class="form-control" ng-model="vm.skills[$index].lastUsed" placeholder="Last Used">
            </div>
            
            <div class="form-group" show-errors>
              <label for="locationLearned{{$index}}">Location Acquired (if more than one, seperate with a comma):</label>
              <input type="text" id="locationLearned{{$index}}" name="locationLearned{{$index}}" class="form-control" ng-model="vm.skills[$index].locationLearned" placeholder="Location">
              <div ng-messages="vm.skillsForm['locationLearned'+$index].$error" role="alert">
                <p class="help-block error-text" ng-message="required">Location is required. </p>
              </div>
            </div>
            
            <button type="button" class="btn" ng-click="vm.removeSkill($index)">Remove Skill</button>
          </div>
        </div> <!-- end ng-repeat -->
        <div class="text-center form-group">
          <div ng-if="results.length === 0">
            You have no skills.
          </div>
          <button type="button" class="btn" ng-click="vm.addSkill()">Add Skill</button>
          <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
      </form>
    <div>
  </section>
</div>
