<div ng-controller="ExperienceController">
  <form name="vm.experienceForm" ng-submit="vm.updateIndividualExperience(vm.experienceForm.$valid)" novalidate autocomplete="off">
    <div ng-repeat="experience in vm.experiences as results track by $index">
      <div class="individual-bio-element">
        
        <div class="form-group" show-errors>
          <label for="employer{{$index}}">Employer:</label>
          <input type="text" id="employer{{$index}}" name="employer{{$index}}" class="form-control" ng-model="vm.experiences[$index].employer" placeholder="Employer" required autofocus>
          <div ng-messages="vm.experienceForm['employer'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Employer is required. </p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="jobTitle{{$index}}">Job Title:</label>
          <input type="text" id="jobTitle{{$index}}" name="jobTitle{{$index}}" class="form-control" ng-model="vm.experiences[$index].jobTitle" placeholder="Job Title" required>
          <div ng-messages="vm.experienceForm['jobTitle'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Job Title is required. </p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="description{{$index}}">Description:</label>
          <input type="text" id="description{{$index}}" name="description{{$index}}" class="form-control" ng-model="vm.experiences[$index].description" placeholder="Description" required>
          <div ng-messages="vm.experienceForm['description'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description is required. </p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="skills{{$index}}">Skills:</label>
          <input type="text" id="skills{{$index}}" name="skills{{$index}}" class="form-control" ng-model="vm.experiences[$index].skills" placeholder="Skills" required>
          <div ng-messages="vm.experienceForm['skills'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Skills are required. </p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="startDate{{$index}}">Start Date:</label>
          <input type="date" id="startDate{{$index}}" name="startDate{{$index}}" class="form-control" ng-model="vm.experiences[$index].startDate" placeholder="yyyy-MM-dd" required>
          <div ng-messages="vm.experienceForm['startDate'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">Start Date is required. </p>
            <p class="help-block error-text" ng-message="date">Dates must be in yyyy-MM-dd format. </p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label for="endDate{{$index}}">End Date:</label>
          <input type="date" id="endDate{{$index}}" name="endDate{{$index}}" class="form-control" ng-model="vm.experiences[$index].endDate" placeholder="yyyy-MM-dd" required>
          <div ng-messages="vm.experienceForm['endDate'+$index].$error" role="alert">
            <p class="help-block error-text" ng-message="required">End Date is required. </p>
            <p class="help-block error-text" ng-message="date">Dates must be in yyyy-MM-dd format. </p>
          </div>
        </div>
        
        <button type="button" ng-click="vm.removeExperience($index)">Remove Work Experience</button>
      </div>
    </div> <!-- end ng-repeat -->
    <div ng-if="results.length === 0">
      You have no work experience.
    </div>
    <button type="button" ng-click="vm.addExperience()">Add Work Experience</button>
    <input type="submit" value="Save"/>
  </form>
</div>
